/* General Navbar Styling */
.navbar2 {
    background-color: #f8f9fa; /* Light background color */
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Navbar Container */
  .navbar2 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Logo and Brand Styling */
  .navbar2-brand-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  .navbar2-brand {
    font-size: 2.5rem;
    font-weight: bold;
    color: #007bff;
    text-align: center; /* Center the EventSync heading */
    display: flex;
    align-items: center;
  }
  
  .navbar2-brand i {
    margin-right: 10px;
  }
  
  .navbar2-brand:hover {
    color: #0056b3; /* Change color on hover */
    cursor: pointer;
  }
  
  /* Logout Button */
  .logout-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .logout-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #0056b3;
  }
  
  .logout-button i {
    margin-right: 5px;
  }
  
  /* Responsive Navbar */
  @media (max-width: 768px) {
    .navbar2 .container {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar2-brand {
      font-size: 2rem;
      margin-bottom: 15px;
    }
  
    .logout-button {
      width: 100%;
      margin-top: 15px;
    }
  }
  